*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}



body{
    font-family: Poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100rem;
    overflow: hidden;
}

.cd {
    position: absolute;
    top: 95vh;
    right: 5vh;
}

.o{
    position: absolute;
    top: 40vh;
    left: 5vw;
}
.p{
    position: absolute;
    top: 60vh;
    left: 5vw;
}

.Rush{
    font-family: 'Press Start 2P', cursive;
    font-size: 8rem;
    font-weight: 1200;
    color: #fff;
    
}


.header{
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    left: 2vw;
    top: 5vh;
}
.header a{
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}


.topic{
    
font-family: Permanent Marker;
display: flex;
align-items: center;
justify-content: left;
position: absolute;
left: 5rem;
top: 25%;
white-space: nowrap;
justify-content: space-between;

    
}

.topic {
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}






a{
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}


.navbar a{
    position: absolute;
    right: 5%;
    top: 7%;
    opacity: 0.3;
}

.navbar a:hover {
    font-size: 3rem;
    box-shadow: black;
}

.nav{
    width: 100%;
    height: 13rem;
    background: black;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
}






.bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://i.pinimg.com/736x/b6/f8/38/b6f8388e07095961db973faf25d84ee0.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
    filter: blur(20px);
    z-index: -1;
}







.card {
    position: relative;
    width: 22rem;
    height: 16rem;
    background-color: #fff;
    border-radius:  1.5rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
.card:hover{
    height: 25rem;
}
.img1{
    position: absolute;
    left: 50%;
    top: -3.125rem;
    transform: translate(-50%);
    width: 9.375rem;
    height: 9.375rem;
    background-color: #fff;
    border-radius: 0.625rem;
    box-shadow: 0 1rem 3.125rem rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}
.img1 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0 1rem 3.125rem rgba(0, 0, 0, 0.35);
}
.card:hover .img1{
    width: 12.5rem;
    height: 12.5rem;
}
.card .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card .content .detail{
    padding: 1.25rem;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}

.card .content .detail h2 span{
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.5;
}


.card .content .btn button{
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    font-weight: 640;
    background: #ff5acd;
    box-shadow: 0 0 1rem #ff5acd;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: opacity 0.3s ease, visibility 0s 0.3s; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    visibility: hidden; 
    width: 15rem;
    height: 3.5rem;
    transition: 0.5s;
}


.btn:hover btn{
    background: transparent;
    color: #ff5acd;
    box-shadow: none;
}

.card:hover .btn button{
    opacity: 1;
    visibility: visible; 
    transition: opacity 0.3s ease, visibility 0s; 
}



.card .socialme a{
    color: black;
}







.card2 {
    position: relative;
    width: 22rem;
    height: 16rem;
    background-color: #fff;
    border-radius:  1.25rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    
}

.card2:hover{
    height: 25rem;
}
.img2{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translate(-50%);
    width: 9.375rem;
    height: 9.375rem;
    background-color: #fff;
    border-radius: 0.625rem;
    box-shadow: 0 1rem 3.125rem rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}
.img2 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
    box-shadow: 0 1rem 3.125rem rgba(0, 0, 0, 0.35);
}
.card2:hover .img2{
    width: 12.5rem;
    height: 12.5rem;
}
.card2 .content2{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.card2 .content2 .detail2{
    padding: 1.25rem;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    
}

.card2 .content2 .detail2 h2 span{
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.5;
}
.card2 .content2 .btn2 button{
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    font-weight: 640;
    background: #ff5acd;
    box-shadow: 0 0 1rem #ff5acd;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: opacity 0.3s ease, visibility 0s 0.3s; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    visibility: hidden; 
    width: 15rem;
    height: 3.5rem;
    transition: 0.5s;
}


.card .content .btn button:active, .card2 .content2 .btn2 button:active {
    background: transparent;
    color: #ff5acd;
    box-shadow: none;
    opacity: 0.5;  
}

.card2:hover .btn2 button{
    opacity: 1;
    visibility: visible; 
    transition: opacity 0.3s ease, visibility 0s; 
}

.card2 .socialme2 a {
    color: black;
}



.profilecard{
    display: flex;
    align-items: center; 
    gap: 10rem;
    position: absolute;
    right: 17%;
    top: 40rem;

}

.card .socialme, .card2 .socialme2 {
    display: flex;
    justify-content: space-between;
    opacity: 0;  
    transition: opacity 0.5s ease;  
    gap: 1rem;
}





.card:hover .socialme, .card2:hover .socialme2 {
    opacity: 1.0;  
}




@keyframes slide{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
.sponser{
    overflow: hidden;
    padding: 1rem 0;
    background: white;
    height: 3.5rem;
    white-space: nowrap;
    position: absolute;
    top: 90vh;
    left: 55rem;
    background: transparent
}

.sponser-slide{
    display: inline-block;
    width: max-content;
    animation: 10s slide infinite linear;
}
.sponser-slide img{
    height: 2rem;
    margin: 0 1rem;
}
.sponser:hover .sponser-slide{
    cursor: pointer;
    animation-play-state: paused;
}


